<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8"><title>Top Restaurant</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="/static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top Restaurant</title>
</head>
<body>
    {% include 'includes/header.html' %}

    <main>
        <h2>Results for: {{location}} and {{search_term or 'None Specified'}}</h2>
        <h3>Top Restaurant: {{ restaurant.get('name') }}</h3> 
        <section class="card">
            <img src= "{{ restaurant.get('image_url') }}">
            <p>Address: {{ restaurant.get('display_address') }}</p>
            <ul class="moreinfo">
                <li>Price: {{ restaurant.get('price') }}</li>
                <li>Rating: {{ restaurant.get('rating') }}</li>
                <li>Review Count: {{ restaurant.get('review_count') }}</li>
            </ul>
        </section>
    </main>
</body>
</html>

